.container{
    width: 1171px;
    margin: auto;
    outline: solid 2px yellow;

}
.flex-box{
    display: flex;
    justify-content: space-between;
    height: 50px;

}
.bmw{
    display: flex;
    justify-content: center;
    height: 500px;
}
.audi{
   display: flex;
   height: 600px;
    
}
.imagecontent{
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    
}
.element style{

}
h3 {
    display: block;
    font-family: "poppins",sans-serif;
    font-size: 1cm;
    font-weight: 600;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 1em;
    margin-inline-end: 1em;
}
.element.style{

}
.fst-italic{
    font-style: italic!important;
}
p{
    margin-top: 0%;
    margin-bottom: 1rem;
}
p {
    display: block;
    margin-block-start: ;
    margin-block-end: 1em;
    margin-inline-start: 1em;
    margin-inline-end: 1em;
}
.pics {
    width: 100%;
}
.cont{
    font-size: 20px;
    padding-left: 20px;
    color:#777777;
    padding-bottom: 20px;
}



.jaguar{
    display: flex;
    flex-wrap: wrap;
}
.jaguar .a5{
    width: 25%;
    height: 265px;
    outline: solid 2px yellow;
}
.rolls{
    display: flex;
    flex-wrap: wrap;
}
.rolls .royce{
    width: 33.33%;   
    flex-wrap: wrap;
    height: 300px;
    outline: solid 2px red;
}
.flex-boxes{
    height: 200px;
    outline: solid 2px yellow;
}
.content{
    width: 50%;
    height: 400px;
    outline: solid 2px yellow;
    justify-content: space-between;
}
.suzuki{
    display: flex;
    justify-content: center;
    height: 200px;
}
.honda{
    display: flex;
    flex-wrap: wrap;
}
.honda .s5{
    width: 33.33%;
    height: 265px;
    outline: solid 2px yellow;
}
.bentley{
    display: flex;
    justify-content: center;
    height: 200px;
}
.image{
    display: flex;
    justify-content: center;
    height: 600px;
}
.ford{
    display: flex;
    justify-content:center ;
    height: 200px;
}
.rtx{
    display: flex;
    justify-content: space-between;
}
.rtx .pb{
    width: 25%;
    height: 400px;
    outline: solid 2px yellow;
}
.gtx{
    display: flex;
    justify-content: center;
    height: 200px;
}
.boat{
    height: 300px;
    outline: solid 2px yellow;
    line-height: 60px;
   

}
.boat .questions{
    outline: solid 2px yellow;
    height: 100px;

}
.creta{
    display: flex;
    justify-content: center;
    height: 200px;
}
.urus{
    display: flex;
    flex-wrap: wrap;
}
.urus .i10{
    width: 33.33%;
    height: 265px;
    outline: solid 2px yellow;
}
.polo{
    display: flex;
    flex-wrap: wrap;

}
.polo .txt{
    width: 50%;
    height: 300px;
    outline: solid 2px yellow;
}
.taigun{
    display: flex;
    justify-content: space-between;
}
.taigun .footer{
    width: 25%;
    height: 300px;
    outline: solid 2px yellow;
}
.ghost{
    display: flex;
    justify-content: space-between;
}
.ghost .legal{
    width: 50%;
    outline: solid 2px yellow;
    height: 200px;
}